.hmepge {
	min-height: 100vh;
	background: linear-gradient(to bottom, orange 0%, orange 3%, white 1%, white 9%, orange 9%, orange 37%, white 39%, white 100%);
	background-size: 100%;
	background-repeat: no-repeat;
}

.ordr {
	min-height: 100vh;
	background: linear-gradient(to bottom, orange 0%, orange 77%, white 82%, white 100%);
	background-size: 100%;
	background-repeat: no-repeat;
}

#ordrtxt {
	font-size: 20px;
}

.loggedout {
	min-height: 100vh;
	background: linear-gradient(to bottom right, orange 0%, orange 18%, white 20%, white 100%);
	background-size: 100%;
	background-repeat: no-repeat;
}

#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-radius: 50px;
}

#left {
	display: block;
	margin-right: auto;
	width: 60%;
}

#right {
	display: block;
	margin-left: auto;
	width: 60%;
}

.container {
  position: relative;
  font-family: Arial;
}

.left-text-block {
	position: absolute;
	bottom: 20px;
	left: 20px;
	background-color: black;
	opacity: 0.7;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
}

.right-text-block {
	position: absolute;
	bottom: 20px;
	right: 20px;
	background-color: black;
	opacity: 0.7;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
}

input.chckbx {
        width: 20px;
        height: 20px;
      }

form p {
	font-size: 27px;
}

form label {
	font-size: 17px;
}

#content {
     margin-left: 20px;
}

img {
	height: 150%;
}

#cartOrder {
	font-size: 20px;
}

table, th, td {
  border:1px solid black;
}