{% extends "layout.html" %}

{% block title %}order{% endblock %}

{% block content %}

  <h1>Available Items:</h1>
  <br>
  <form action="/ordered" method="POST">
		<p>Food:</p>
		<input type="checkbox" id="food1" name="food" value="Burgers">
		<label for="food1"> Burgers: $24.99</label><br>
		<input type="checkbox" id="food2" name="food" value="Hotdogs">
		<label for="food2"> Hotdogs: $30.00</label><br>
		<input type="checkbox" id="food3" name="food" value="Ribs">
		<label for="food3"> Ribs: $4.99</label><br>
		<input type="checkbox" id="food4" name="food" value="Steak">
		<label for="food4"> Steak: $200.00</label><br>
		<input type="checkbox" id="food5" name="food" value="Fried Chicken Bucket">
		<label for="food5"> Fried Chicken Bucket: $15.00</label><br>
		<input type="checkbox" id="food1" name="food" value="Burritos">
		<label for="food1"> Burritos: $19.99</label><br>
		<input type="checkbox" id="food2" name="food" value="Tacos">
		<label for="food2"> Tacos: $12.75</label><br>
		<input type="checkbox" id="food3" name="food" value="Carnitas">
		<label for="food3"> Carnitas: $20.99</label><br>
		<input type="checkbox" id="food4" name="food" value="Chips and Salsa">
		<label for="food4"> Chips & Salsa: $102.00</label><br>
		<input type="checkbox" id="food5" name="food" value="Nachos">
		<label for="food5"> Nachos: $13.95</label><br>
		<br>
		<p>Drinks:</p>
		<input type="checkbox" id="drink1" name="drink" value="Coca Cola">
		<label for="drink1"> Coca Cola: $1.99</label><br>
		<input type="checkbox" id="drink2" name="drink" value="Sprite">
		<label for="drink2"> Sprite: $2.95</label><br>
		<input type="checkbox" id="drink3" name="drink" value="Root Beer">
		<label for="drink3"> Root Beer: $4.00</label><br>
		<input type="checkbox" id="drink4" name="drink" value="Water">
		<label for="drink4"> Water: $150.23</label><br>
		<input type="checkbox" id="drink5" name="drink" value="Fanta">
		<label for="drink5"> Fanta: $3.70</label><br>
		<br>
		<p>Desserts:</p>
		<input type="checkbox" id="dessert1" name="dessert" value="Ice Cream">
		<label for="dessert1"> Ice Cream: $10.00</label><br>
		<input type="checkbox" id="dessert2" name="dessert" value="Milkshake">
		<label for="dessert2"> Milkshake: $10.00</label><br>
		<input type="checkbox" id="dessert3" name="dessert" value="Cake">
		<label for="dessert3"> Cake: $20.99</label><br>
		<input type="checkbox" id="dessert4" name="dessert" value="Apple Pie">
		<label for="dessert4"> Apple pie: $12.00</label><br>
		<input type="checkbox" id="dessert5" name="dessert" value="Cheesecake">
		<label for="dessert5"> Cheesecake: $45.09</label><br>
		<br><input type="submit" value="Submit">
  </form>
  
{% endblock %}